[Unit]
Description=Squawkers McCaw Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h
Restart=no
ExecStart=%h/squawker/.venv/bin/python %h/squawker/run.py %h/squawker/sounds
ExecStopPost=%h/squawker/killmotors.py
NoNewPrivileges=true
PrivateTmp=true
SyslogIdentifier=squawker
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=default.target

