[Unit]
Description=Squawkers McCaw Runner
After=ssh.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/squawker
Restart=always
RestartSec=10
PIDFile=/run/squawkers.pid
ExecStart=/opt/squawker/squawker/run.py /opt/squawker/sounds
ExexStopPost=/opt/squawker/killmotors.py
StandardOutput=journal

[Install]
WantedBy=default.target
